.PI-Div {
    display: flex;
    margin-left: 5px;
	margin-right: 1px;
}
.PI-Div-UserPopout,
.PI-Div-UserPopoutNick {
    display: inline-block;
}
.userModalName {
    display: inline-flex;
}
/* Fix Private Channels */
.nameAndDecorators-5FJ2dg > .name-uJV0GL {
	display: flex;
}
.userInfo-2zN2z8:not(.hovered-15FzL3) .discriminator-22Okc1 {
    display: none;
}
