.PI-Div {
    display: flex;
    margin-left: 5px;
	margin-right: 1px;
}
.PI-Div-UserPopout,
.PI-Div-UserPopoutNick {
    display: inline-block;
}
.userModalName {
    display: inline-flex;
}
/* Fix Private Channels */
.nameAndDecorators-3ERwy2 > .name-3Vmqxm {
	display: flex;
}
.userInfo-2WpsYG:not(.hovered-1EO01j) .discriminator-WV5K5s {
    display: none;
}
